* {
    padding: 0;
    margin: 0;
    font-family: Sans-Serif;
}

.minHeight {
	min-height: 50vw;
}


@font-face {
    font-family: 'Elden Ring';
    src: url(../fonts/Mantinia\ Regular.ttf);
    
}

.listText {
	font-size:50px;
}
/*hides buttons when printing*/
@media print {
  #printPageButton {
    display: none;

  }
}

.printPadding {
	padding: 5px;
	font-weight:bold;
}

.elden {
	color: white !important;
	font-family: Elden Ring;
	text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
}

.top {
	width:75%
}

.topBar{
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-style: solid;
	box-shadow: 0px 2.5px 10px;
}

.snu {
	display:flex;
	/*justify-content:space-evenly;*/
}

.sideBar {
	display:flex;
	flex-direction: column;
	border-style: solid;
	box-shadow: 2.5px 0px 10px;
	width:25%;
}

.bold {
	font-weight: bold;
}

.optionSize {
	width:100px;
}

.black {
	color: black;
	text-decoration: none;
	font-weight:bold;
}

@media screen and (max-width: 1000px) {
	.black {
		font-weight:normal;
	}
}


.noLine {
	text-decoration: none !important;
	color: black;
}

.textCenter{
	text-align:center;
	margin-left:1px;
}

.logoCenter {
	display:flex;
	align-items:center;
	justify-content:center;
}

.logo {
	width:65%;
}

.bar {
	background-color:#353839;
	display: flex;
	justify-content:space-evenly;
}
.stay {
	position:fixed;
    /*width: 100%;*/
}

.white {
	color:white !important;
	text-decoration: none !important;
	text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
	font-size:200%;
}

.whiteNoShadow{
	color:white !important;
	text-decoration: none !important;
}

.borderShadow {
	border-style: solid;
 	box-shadow: 2px 2px 10px;
}

.upperGap {
	display: flex;
	justify-content:space-around;
	margin-top:5rem;
}

.boxSize {
	background-color: rgb(192, 192, 192);
	width:45%;
	border-radius: 10%;
}

.ulSize {
	  font-size:1.5rem;
}

@media screen and (max-width: 1000px) {
	.ulSize {
		font-size:1rem;
	}
	.boxSize {
	background-color: rgb(192, 192, 192);
	width:45%;
	border-radius: 10%;
	}
	
}

.noBullets {
	list-style-type: none; /* Remove bullets */
	padding-left: .25em;
}
